@model PassionProject_N01540458.Models.ViewModels.DetailsFoodCategory
@{
    ViewBag.Title = "Details";
}

<div class="detailsContainer">
    <h2>@Model.SelectedFoodCategories.CategoryName</h2>
    <div class="buttonsBox">
        <a href="/FoodCategory/List" class="btn btn-success">&raquo; Go back</a>
        <a href="/FoodCategory/Edit/@Model.SelectedFoodCategories.CategoryId" class="btn btn-warning">Update</a>
        <a href="/FoodCategory/DeleteConfirm/@Model.SelectedFoodCategories.CategoryId" class="btn btn-danger">Delete</a>
    </div>
    <div class="listContainer">
        <h2 style="font-size: 15px;">Associated food items:</h2>
        @foreach (var fooditem in Model.RelatedFoodItems)
        {
            <div class="listItem">
                <h4>@fooditem.FoodItemName</h4>
                <a href="/FoodItem/Details/@fooditem.FoodItemId" class="btn btn-info">More Info &raquo;</a>
            </div>
        }
    </div>
</div>
