@model PassionProject_N01540458.Models.FoodCategoryDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update the food category</h2>

<form action="/FoodCategory/Update/@Model.CategoryId" method="POST">
    <div style="display:none">
        <input type="text" name="CategoryId" value="@Model.CategoryId" />
    </div>
    <div>
        <label>Name: </label><input type="text" name="CategoryName" value="@Model.CategoryName" />
    </div>
    <div>
        <input type="submit" value="Update Food category" />
    </div>
</form>

