@model IEnumerable<PassionProject_N01540458.Models.FoodCategoryDto>
@{
    ViewBag.Title = "List";
}
<div class="listContainer">
    <h2>List of food categories</h2>
    <a href="/FoodCategory/New" class="btn btn-primary btn-lg">Add category</a>

    @foreach (var foodcategory in Model)
    {
        <div class="listItem">
            <h4>@foodcategory.CategoryName</h4>
            <a href="/FoodCategory/Details/@foodcategory.CategoryId" class="btn btn-info">More Info &raquo;</a>
        </div>
    }
</div>


