@{
    ViewBag.Title = "Create";
}

<div class="detailsContainer">
    <h2>Create food category</h2>
    <form class="formAction" action="/FoodCategory/Create" method="POST">
        <div>
            <label>Name: </label><input type="text" name="CategoryName" />
        </div>
        <div>
            <input type="submit" class="btn btn-success" style="margin-top: 20px;" value="Add Food category" />
        </div>
    </form>
</div>