@{
    ViewBag.Title = "Create";
}

<h2>Create food category</h2>

<form action="/FoodCategory/Create" method="POST">
    <div>
        <label>Name: </label><input type="text" name="CategoryName" />
    </div>
    <div>
        <input type="submit" value="Add Food category" />
    </div>
</form>

