@model PassionProject_N01540458.Models.ViewModels.DetailsFoodItem
@{
    ViewBag.Title = "Details";
}

<h2>Details for the selected food item</h2>
<a href="/FoodItem/List">Go back</a>
<br />
<a href="/FoodItem/Edit/@Model.SelectedFoodItem.FoodItemId">Update food item</a>
<br />
<a href="/FoodItem/DeleteConfirm/@Model.SelectedFoodItem.FoodItemId">Delete this food item</a>

<h3>Name: @Model.SelectedFoodItem.FoodItemName</h3>
<h4>Category Name: @Model.SelectedFoodItem.FoodCategoryName</h4>


<div>
    <h3>This food item is associated to - </h3>
    @foreach (var recipe in Model.ContainedRecipes)
    {
        <a href="/Recipe/Details/@recipe.RecipeId">@recipe.RecipeName</a><br />

    }
</div>


