@model IEnumerable<PassionProject_N01540458.Models.FoodItemDto>
@{
    ViewBag.Title = "List";
}

<h2>List of food items</h2>
<a href="/FoodItem/New">Add new food item</a>

@foreach(var fooditem in Model)
            {
                <h4>Item Name: <a href="/FoodItem/Details/@fooditem.FoodItemId">@fooditem.FoodItemName</a></h4>
                <h5>Category:  @fooditem.FoodCategoryName</h5>
            }


