@model IEnumerable<PassionProject_N01540458.Models.FoodItemDto>
@{
    ViewBag.Title = "List";
}

<div class="listContainer">
    <h2>List of food items</h2>
    <a href="/FoodItem/New" class="btn btn-primary btn-lg">Add food item</a>

    @foreach (var fooditem in Model)
    {
        <div class="listItem">
            <h4>@fooditem.FoodItemName</h4>
            <a href="/FoodItem/Details/@fooditem.FoodItemId" class="btn btn-info">More Info &raquo;</a>
        </div>
    }
</div>