@model PassionProject_N01540458.Models.RefrigeratorDto
@{
    ViewBag.Title = "Edit";
}

<div class="detailsContainer">
    <h2>Update the refrigerator</h2>
    <form class="formAction" action="/Refrigerator/Update/@Model.RefrigeratorId" method="POST">
        <div style="display:none">
            <input type="text" name="RefrigeratorId" value="@Model.RefrigeratorId" />
        </div>
        <div>
            <label>Refrigerator Name: </label><input type="text" name="RefrigeratorName" value="@Model.RefrigeratorName" />
        </div>
        <div>
            <label>Username: </label><input type="text" name="UserName" value="@Model.UserName" />
        </div>
        <div>
            <input type="submit" class="btn btn-success" style="margin-top: 20px;" value="Update Rrfrigerator" />
        </div>
    </form>
</div>
