@{
    ViewBag.Title = "Create";
}

<h2>Create a new Refrigerator</h2>

<form action="/Refrigerator/Create" method="POST">
    <div>
        <label>Refrigerator name: </label><input type="text" name="RefrigeratorName" />
    </div>
    <div>
        <label>Username: </label><input type="text" name="UserName" />
    </div>
    <div>
        <input type="submit" value="Add Refrigerator" />
    </div>
</form>

