@{
    ViewBag.Title = "Create";
}

<div class="detailsContainer">
    <h2>Create new refrigerator</h2>
    <form class="formAction" action="/Refrigerator/Create" method="POST">
        <div>
            <label>Refrigerator name: </label><input type="text" name="RefrigeratorName" />
        </div>
        <div>
            <label>Username: </label><input type="text" name="UserName" />
        </div>
        <div>
            <input type="submit" class="btn btn-success" style="margin-top: 20px;" value="Add Rrfrigerator" />
        </div>
    </form>
</div>
