@model PassionProject_N01540458.Models.RecipeDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.RecipeName ?</h2>
<a href="/Recipe/List">Cancel</a>
<br />

<form action="/Recipe/Delete/@Model.RecipeId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

