@model PassionProject_N01540458.Models.RecipeDto
@{
    ViewBag.Title = "Edit";
}

<div class="detailsContainer">
    <h2>Update new recipe</h2>
    <form class="formAction" action="/Recipe/Update/@Model.RecipeId" method="POST">
        <div style="display:none">
            <input type="text" name="RecipeId" value="@Model.RecipeId" />
        </div>
        <div>
            <label>Name: </label><input type="text" name="RecipeName" value="@Model.RecipeName" />
        </div>
        <div>
            <label>Description: </label><textarea name="RecipeDescription">@Model.RecipeDescription</textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-success" style="margin-top: 20px;" value="Update recipe" />
        </div>
    </form>
</div>

