@model IEnumerable<PassionProject_N01540458.Models.RecipeDto>
@{
    ViewBag.Title = "List";
}

<div class="listContainer">
    <h2>List of Recipes</h2>
    <a href="/Recipe/New" class="btn btn-primary btn-lg">Add recipe</a>

    @foreach (var recipe in Model)
    {
        <div class="listItem">
            <h4>@recipe.RecipeName</h4>
            <a href="/Recipe/Details/@recipe.RecipeId" class="btn btn-info">More Info &raquo;</a>
        </div>
    }
</div>