@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME ADMIN!!</h1>
    <p class="lead">
        You can change the content for food categories, items, recipes and refrigerators here.<br />
        Fridgeteria helps you to create your own personalized refrigerator and show recipes based on the food items present in the refrigerator and this CMS gives you access to change the content of the website.
    </p>
    <p><a href="/FoodCategory/List" class="btn btn-primary btn-lg">Start Exploring &raquo;</a></p>
</div>
